@model SizeModel
@{
    ViewData["Title"] = "CreateSize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <h1 class="display-10">Agregar una Talla </h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-action="ShowSizes" asp-controller="Size" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>
</nav>
<div class="card">
    <div class="card-body">
        <form asp-action="CreateSize" asp-controller="Size" method="post">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Name" type="text" class="form-control">
                <spam asp-validation-for="Name" class="text-danger"></spam>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>

        </form>
    </div>
</div>

