@model CompanyModel
@{
    ViewData["Title"] = "DeleteCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar una Empresa
    </div>
    <div class="card-body">
        <form asp-action="DeleteCompany" asp-controller="Company" method="post">

            <input asp-for="IdCompany" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar la empresa: @Html.DisplayTextFor(m => m.Name)?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="ShowCompanys" asp-controller="Company" class="btn btn-primary">Volver a la lista</a>
        </form>
    </div>
</div>


